---
import { site } from '../site.config';
---

<header class="phone pt-5 pb-3 text-center">
  <h1 class="leading-none">
    <span class="font-euphoric text-sunburst text-5xl align-middle">Euphoric</span><span
      class="font-fm text-ruby text-5xl align-middle ml-1">FM</span>
  </h1>
  <p class="mt-1 text-[11px] uppercase tracking-[0.25em] text-cream/50">{site.tagline}</p>
</header>
